.episodeCard {
    background-color: rgb(243, 87, 87);
    padding: 10px;
    margin: 20px;
    color: white;
    border-radius: 20px;
}

.episodeCard ul {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.episodeCard li {
    margin: 10px;
}